@charset "utf-8";
/*CSS Document*/

body {
    font-family: sans-serif;

}

#topBox {
  clear: left;
	height: 80px;
	width: 100%;
	padding: 25px;
	padding-top: 10px;
	margin: -12px;
	background-color: rgb(65, 65, 65);
	color: white;
  font-size: 1.2em;
}

#topBox img {
    float: left;
}

#contentBox {
	height: auto;
	width: 796px;
	border: solid thick #333;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
  margin-bottom: 100px;
  background-color: white;
}

#footer {
  float: left;
  width:100%;
  background: #444;
  padding: 10px;
  padding-bottom: 30px;
	margin: -12px;
  color: white;
}

#footer ul {
  list-style-type: none;
  float: left;
}

#contactType ul {
  font-weight: bold;
}

#footer h1{
  font-size: 1.2em;
}

#navBar li {
	float: left;
}

#navBar ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navBar ul li a {
	display: block;
	color: white;
  text-align: center;
	padding: 24px 40px;
	text-decoration: none;
}



#navBar ul li a.active {
    background-color: #ffffff;
    color: black;
}

#navBar ul li a:hover:not(.active) {
    background-color: #444;
    color: white;
}
#contentSection {
    padding: 20px;
}

form {
  width: 405px;
  margin-left: auto;
  margin-right: auto;
}

#signupLables {
  float: left;
  line-height: 200%;
  margin-right:20px;
}

#signupFields {
  float: left;
  line-height: 200%;
}

#verification {
  clear: left;
  line-height: 200%;
}

.button {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
  background-color: #444;
  transition-duration: 0.2s;
}


#signUpButton {
  padding: 30px 64px;
  font-size: 40px;
  border-radius: 25px;
}

#wrapper {
  width: 286px;
  margin-left: auto;
  margin-right: auto;
}

#signUpFocus {
  width: 410px;
  margin-left: auto;
  margin-right: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #333;
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.lists {
  line-height: 200%;
}

.imageLeft {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: solid thick #333;
}

figure {
  float: left;
  font-size: 0.8em;
  line-height: 50%;
}

.imageRight {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  border: solid thick #333;
}

#quicklinks {
  margin-top: 100px;
}
